//PRIMARYS
$primary_black: rgb(20, 20, 20);
$primary_neon: rgb(51, 255, 128);
$primary_navy: rgb(10, 46, 54);
$pGrey: grey;

// SECONDARY
$second_black: rgb(30, 30, 30);
$grey0: rgb(90, 90, 90);
$grey1: rgb(120, 120, 120);

// FADDED
$fadded_neon: rgba(51, 255, 128, 0.60);





