// Transition Speeds
$very_fast_trans: 100ms;
$fast_trans: 200ms;
$med_trans: 300ms;
$slow_trans: 600ms;

// 3D effect via 2 images offset by the following value
$ThreeD_offset: 5px;

// Default border-radius
$border-radius-med: 0.2em;
$border-radius-rount: 0.75em;
