@use "../../abstracts/" as *;
html body #root #App #portfolio_page {
  flex-direction: column;
  #project_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .project_type {
      display: flex;
      flex-direction: column;
      h1 {
        font-size: 2.5em;
        color: $magenta;
      }
      .project_type_body {
        justify-content: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .project_tile {
          @include html_tags("div");
          margin: 0 10px;
          h1 {
            font-size: 1.25em;
            color: $green;
            @include clear_tags;
          }
          .tileBody {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 200px;
            height: 200px;
            background-color: $green_low_sat;
            border-style: solid;
            border-radius: 10px;
            border-color: black;
            border-width: 2px;
            box-shadow: 3px 3px 1px $green_dark;
            .project_icon {
              width: 98%;
              height: 98%;
              border-radius: 10px;
            }
          }
        }
      }
    }
  }
}
