@use "../../abstracts/" as *;
#portfolioPage {
  flex-direction: column;
  h1 {
    text-align: center;
  }
  #project_list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    .project_type {
      display: flex;
      flex-direction: column;
      background-color: $green_very_clear;
      border-radius: 25px;
      padding: 10px;
      margin: 25px auto;
      h1 {
        font-size: 2.5em;
        color: $magenta;
        text-align: center;
      }
      .project_type_body {
        justify-content: center;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .project_tile {
          @include html_tags("div");
          margin: 0 10px;
          h1 {
            font-size: 1.25em;
            color: $green;
            @include clear_tags;
          }
          .tileBody {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 200px;
            height: 200px;
            background-color: $green_low_sat;
            border-style: solid;
            border-radius: 10px;
            box-shadow: 3px 3px 1px $green_dark;
            .project_icon {
              width: 98%;
              height: 98%;
              border-radius: 10px;
            }
            .tile_overlay {
              position: absolute;
              display: flex;
              justify-content: center;
              align-items: center;
              width: 100%;
              height: 100%;
              border-radius: 8px;
              background-color: $green_clear;
              opacity: 0;
              transition: all ease $med_trans;
              button {
                width: 100%;
                height: 100%;
                background-color: transparent;
                border: 0;
                border-radius: 8px;
                padding: 0;
              }
            }
          }
        }
      }
    }
  }
}

// ----------------------------------------------------------
// Multiple Hover Animations ONLY for devices that support it
// ----------------------------------------------------------

@media (hover: hover) {
  #portfolioPage
    #project_list
    .project_type
    .project_type_body
    .project_tile
    .tileBody {
    .tile_overlay {
      button {
        transition: all ease $med_trans;
        display: flex;
        align-items: center;
      }
      button h2 {
        @include clear_tags;
        color: $magenta;
        position: relative;
        text-align: center;
        transition: all ease $med_trans;
        width: 75%;
        margin: auto auto;
        z-index: 2;
      }
      button::before {
        content: "";
        display: block;
        position: absolute;
        background-color: $green_low_sat;
        border-radius: 10px;
        height: 50%;
        width: 80%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transition: all ease $med_trans;
        margin: auto auto;
        z-index: 1;
      }
      button::after {
        content: "";
        display: block;
        position: absolute;
        background-color: $magenta_low_sat;
        border-radius: 10px;
        height: 50%;
        width: 80%;
        margin: auto auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transform: translate($ThreeD_offset, $ThreeD_offset);
        z-index: 0;
      }
      button:active {
        h2 {
          transform: translate($ThreeD_offset, $ThreeD_offset);
        }
        &::before {
          transform: translate($ThreeD_offset, $ThreeD_offset);
        }
      }
    }
    .tile_overlay:hover {
      opacity: 1;
    }
  }
}
