@use "../../abstracts/" as *;

.screen_overlay {
  height: 100%;
  width: 100%;
  background-color: $magenta_semi_clear;
  position: fixed;
  transition: all ease $med_trans;
  top: 0;
  display: none;
  z-index: 99;
  h1 {
    margin: auto;
  }
}

// DropDown Menu Transitions
// Enter
.showOverlay-enter {
  display: flex;
  transform: translateY(-100%);
  opacity: 0;
}
.showOverlay-enter-active {
  display: flex;
  transform: translateY(0);
  opacity: 1;
}
.showOverlay-enter-done {
  display: flex;
  transform: translateY(0);
  opacity: 1;
}

// Exit
.showOverlay-exit {
  display: flex;
  transform: translateY(0);
  opacity: 1;
}
.showOverlay-exit-active {
  display: flex;
  transform: translateY(100%);
  opacity: 0;
}
.showOverlay-exit-done {
  transform: translateY(100%);
  display: none;
  opacity: 0;
}
