@use "../../abstracts/" as *;
.BodyPage {
  // justify-content: space-around;
  #text {
    padding: 0 1em;
    margin: 0 auto;
    width: 30vw;
    h1 {
      font-size: min(5em, 18vw);
    }
    h2 {
      font-size: min(2, 6vw);
    }
  }
  #timeline {
    @include html_tags("ul", -0.4);
    display: flex;
    flex-direction: column;
    position: relative;
    height: 450px;
    padding: 10px 0;
    margin: 0 auto;
    ul {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;
      li {
        display: flex;
        flex-direction: row;
        color: $green;
        h2 {
          white-space: nowrap;
        }
        .barName {
          transform: translate(1em, 1.5em);
        }
        &::before {
          content: "";
          display: block;
          position: absolute;
          background-color: $magenta;
          height: 10px;
          width: 10px;
          border-radius: 5px;
          transform: translate(7.58em, 1.1em);
        }
      }
    }
    #timeLineBar {
      height: 100%;
      width: 0.25em;
      background-color: $green;
      position: absolute;
      transform: translate(7.75em, -10px);
      &::before {
        content: "";
        display: block;
        background-color: $green;
        height: 5px;
        width: 20px;
        transform: translate(-7.5px);
      }
      &::after {
        content: "";
        display: block;
        background-color: $green;
        height: 5px;
        width: 20px;
        transform: translate(-7.5px, 460px);
      }
    }
  }
  #visual {
    margin: 0 auto;
  }
}
@media screen and (max-width: 1250px) {
  .BodyPage #text {
    width: auto;
  }
}
