@use "../../abstracts/index" as *;
footer {
  background-color: $green_footer;
  display: flex;
  flex-direction: rows;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;

  h3 {
    color: $green;
    font-family: "Kanit", sans-serif;
    font-size: 125%;
    font-weight: 600;
    position: relative;
    transition: all $fast_trans;
  }

  p {
    font-weight: bold;
    text-align: center;
    transition: all $fast_trans;
    color: $magenta_low_sat;
  }

  // Social Media Icons
  .footerIcons {
    height: 2em;
    margin: 0.55em 1em;
    transition: all $med_trans;
  }

  // Resume and Contact Buttons
  #footerResumeAndContact {
    display: flex;
    a {
      position: relative;
      display: flex;
      justify-content: center;
      width: 8em;
      padding: 0.5em 0.5em;
      margin: 0 0.5em;
      border: solid;
      border-color: black;
      border-width: 2px;
      background-color: $magenta;
    }
    // Hover animation overlay
    a::before {
      content: "";
      position: absolute;
      background-color: $blue_low_sat;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 0;
      transition: all $med_trans;
    }
  }

  // Short text giving myself credit
  #footerMessage {
    margin: 0.5em 0;
    a {
      text-decoration: none;
      font-size: 1.25em;
      position: relative;
    }
    a::before {
      content: "";
      display: block;
      position: absolute;
      background-color: $magenta_low_sat;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      translate: 0 450%;
      width: 0;
      height: 20%;
      transition: all $fast_trans;
    }
  }
}

@media (hover: hover) {
  // Social Media Icons
  .footerIcons {
    &:hover {
      transform: scale(1.5);
    }
    &:active {
      transform: scale(1);
    }
  }

  // Resume and Contact Page
  #footerResumeAndContact a {
    &:hover::before {
      width: 100%;
    }
    &:hover h3 {
      color: $magenta_low_sat;
    }
  }

  // Final Credit Message
  #footerMessage a:hover::before {
    width: 100%;
  }
}

// Narrow Screen Switch
@media (max-width: 1250px) {
  footer {
    flex-direction: column;
  }
}
