@use "../../abstracts/" as *;

nav {
    // POS & Apperance;
    height: 5em;
    
    // LAYOUT
    display: flex;
    justify-content: space-around;
    align-items: center;

    #contact {
        text-decoration: none;
        h1, p {
            margin: 0;
            color: $primary_neon;
        }
    }

    #LOGO {
        cursor: default;
        user-select: none;
        margin: 0;
        h1 {
            font-size: min(3em, 8vw);
            margin: 0;
            color: $primary_neon;
        }
    }

    #pages {
        display: flex;
        margin: auto 2em;
        list-style: none;
        li {
            position: relative;
            a {
                text-decoration: none;
                h2 {
                    transition: all 200ms;
                    margin: 0 1em;
                    font-size: 1.5em;
                    color: $primary_neon;
                    position: relative;
                    z-index: 2;
                }
            }
        }
    }

    #hamburger {
        display: none;

        user-select: none;

        appearance: none;
        border: none;
        outline: none;
        background: none;
        cursor: pointer;
        span {
            display: block;
            width: 33px;
            height: 4px;
            margin: 6px 0;
            position: relative;

            background-color: $primary_neon;
            border-radius: 2px;

            transform-origin: (width / 2) 0;
            transition-duration: 200ms;

        }
    }    
}

#dropDownMenu{
    display: none;
    position: absolute;
    list-style: none;
    top: 5em;
    left: -100%;
    width: 100%;
    margin: 0 0;
    padding: 0 0;

    transition: all $slow_trans;
    li {
        margin: auto;
        padding: 1em 0;
        a {
            text-decoration: none;
            color: $primary_neon;
            padding: 0.5em 4em;
            background-color: $second_black;
            border-radius: 1em;
            transition: all $med_trans;
        }
    }
}

// Only uses hover transform animation on devices that support it
@media (hover: hover) {
    #hamburger:hover {
        span:nth-child(2) {
            transform: translateX(10px);
            background-color: $fadded_neon;
        }
    }
    #dropDownMenu li a:hover {
        background-color: $tertiary_black;
    }

    // Page Links Button Mouse-Over Effects WideScreen
    #pages li {
        // Text Transformation
        a:hover h2 {
            color: $tertiary_black;
        }
        a:active h2 {
            transform: translate(5px, 5px);
        }

        // 
        a::before {
            content: "";
            display: block;
            position: absolute;
            top: 0; right: 0; bottom: 0; left: 0;
            background-color: aqua;
            border-radius: 1em;
            width: 0;
            transition: all ease-in-out 200ms;
            z-index: 1;
        }
        a:hover::before {
            width: 100%;
        }
        a:active::before {
            transform: translate(5px, 5px);
        }
        a::after {
            content: "";
            display: block;
            position: absolute;
            top: 0; right: 0; bottom: 0; left: 0;
            transform: translate(5px, 5px);
            background-color: purple;
            border-radius: 1em;
            width: 0;
            transition: all ease-in-out 200ms;
            z-index: 0;
        }
        a:hover::after {
            width: 100%;
        }
    }
    
}




@media (max-width: 1250px) {
    nav {
        #pages {
            display: none;
            // DropDwonMenu underneath Nav
        }
        #hamburger {
            display: block;
        }
    }
    #dropDownMenu {
        display: flex;
        flex-direction: column;
        
        // transition: all 600ms;

    }
}

// --------React Transition Group Classes--------
// Hamburger Butten
// Enter State
.hambState-enter #hamburger{
    span:nth-child(1) {
        rotate: 0deg;
    } 
    span:nth-child(2) {
        translate: 0 0;
    }  
    span:nth-child(3) {
        rotate: 0deg;
    }
}
.hambState-enter-active #hamburger{    
    span:nth-child(1) {
        rotate: 45deg;
        translate: 0 10px;
    } 
    span:nth-child(2) {
        translate: 10px 0;
        opacity: 0;
    }  
    span:nth-child(3) {
        rotate: -45deg;
        translate: 0 -10px;
    }
}
.hambState-enter-done #hamburger{    
    span:nth-child(1) {
        rotate: 45deg;
        translate: 0 10px;
    } 
    span:nth-child(2) {
        translate: 10px 0;
        opacity: 0;
    }  
    span:nth-child(3) {
        rotate: -45deg;
        translate: 0 -10px;
    }
}
// Exit State
.hambState-exit #hamburger{
    span:nth-child(1) {
        rotate: 45deg;
        translate: 0 10px;
    } 
    span:nth-child(2) {
        translate: 10px 0;
        opacity: 0;
    }    
    span:nth-child(3) {
        rotate: -45deg;
        translate: 0 -10px;
    }
}
.hambState-exit-active #hamburger{    
    span:nth-child(1) {
        rotate: 0deg;
        translate: 0 0px;
    } 
    span:nth-child(2) {
        translate: 0 0;
        opacity: 1;
    }  
    span:nth-child(3) {
        rotate: 0deg;
        translate: 0 0px;
    }
}
.hambState-exit-done #hamburger{
    span:nth-child(1) {
        rotate: 0deg;
        translate: 0 0px;
    } 
    span:nth-child(2) {
        translate: 0 0;
        opacity: 1;
    }  
    span:nth-child(3) {
        rotate: 0deg;
        translate: 0 0px;
    }
}


// DropDown Menu Transitions
// Enter
.dropMenu-enter #dropDownMenu{
    left: -100%;
}
.dropMenu-enter-active #dropDownMenu{
    left: 0;
}
.dropMenu-enter-done #dropDownMenu{
    left: 0;
}
// Exit
.dropMenu-exit #dropDownMenu{
    left: 0;
}
.dropMenu-exit-active #dropDownMenu{
    left: -100%;
}
.dropMenu-exit-done #dropDownMenu{
    left: -100%;
}


