@use "./abstracts/colors" as c;
#App {
  display: flex;
  height: 100vh;
  flex-direction: column;
  #Navigation {
    flex-shrink: 0;
  }
  .BodyPage {
    flex-grow: 1;
    flex-shrink: 0;
  }
  #FooterBar {
    flex-shrink: 0;
  }
}
