@use "./abstracts/colors" as c;
#App {
  display: flex;
  height: 100vh;
  flex-direction: column;
  #Navigation {
    flex-shrink: 0;
  }
  .BodyPage {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
  }
  #FooterBar {
    flex-shrink: 0;
  }
}

@media screen and (max-width: 1250px) {
  .BodyPage {
    flex-direction: column;
    justify-content: center;
  }
}
